package $packageName;

import io.bacta.engine.buffer.BufferUtil;
import io.bacta.game.Priority;
import io.bacta.shared.GameNetworkMessage;
import lombok.AllArgsConstructor;
import lombok.Getter;

import java.nio.ByteBuffer;

/**
  $messageStruct
  $messageSimpleName; // $opcode
  */
@Getter
@AllArgsConstructor
@Priority($priority)
public final class $messageName extends GameNetworkMessage {

    public $messageName() {

    }

    public $messageName(final ByteBuffer buffer) {

    }

    @Override
    public void writeToBuffer(ByteBuffer buffer) {

    }
}
