package $packageName;

import io.bacta.game.GameControllerMessage;
import io.bacta.game.GameControllerMessageType;
import io.bacta.game.object.ServerObject;
import io.bacta.soe.context.SoeRequestContext;
import org.springframework.stereotype.Component;
import lombok.extern.slf4j.Slf4j;
import ${messageClasspath}.${messageName};

@Slf4j
@Component
@GameControllerMessage(GameControllerMessageType.$type)
public class $className implements MessageQueueController<$messageName> {

	@Override
	public void handleIncoming(SoeRequestContext context, ServerObject actor, int flags, float value, $messageName data) {
		LOGGER.warn("This object controller is not implemented");
	}
}
