package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.ocdsoft.bacta.soe.connection.SoeUdpConnection;
import com.ocdsoft.bacta.soe.controller.ObjController;
import com.ocdsoft.bacta.swg.server.game.object.tangible.TangibleObject;
import com.ocdsoft.bacta.soe.controller.MessageHandled;
import ${messageClasspath}.${messageName};
import com.ocdsoft.bacta.soe.controller.ObjController;

@MessageHandled(handles = ${messageName}.class)
public class $className implements ObjController<$messageName, TangibleObject> {

	private static final Logger LOGGER = LoggerFactory.getLogger(${className}.class);
	
	@Override
	public void handleIncoming(final SoeUdpConnection connection, final $messageName message, final TangibleObject invoker) {

		LOGGER.warn("This object controller is not implemented");
		
	}
}
