<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <logger name="org.springframework.core.io.support" level="debug"/>
    <logger name="org.springframework.context.annotation" level="debug"/>

</configuration>