package $packageName;

import java.nio.ByteBuffer;
import com.ocdsoft.bacta.soe.network.message.CommandMessage;

public class $messageName extends CommandMessage {

    public $messageName(final ByteBuffer buffer) {
        super(buffer);
    }

    @Override
    public void writeToBuffer(final ByteBuffer buffer) {
    
    }
    /**
     $messageStruct
     */
}
