package com.ocdsoft.bacta.swg.server.game.message.object;

public enum GameControllerMessageType {
    #foreach($context in $enumContexts)
    ${context.getName()}(${context.getValue()}),
    #end
    LAST($lastValue);

    private static final TIntObjectMap<GameControllerMessageType> reverseLookup;

    static {
        final GameControllerMessageType[] types = values();
        reverseLookup = new TIntObjectHashMap<>(types.length);

        for (final GameControllerMessageType type : types)
            reverseLookup.put(type.value, type);
    }

    public final int value;

    GameControllerMessageType(final int value) {
        this.value = value;
    }

    public static GameControllerMessageType from(final int value) {
        final GameControllerMessageType type = reverseLookup.get(value);

        if (type == null)
            throw new ArrayIndexOutOfBoundsException(
                    String.format("No GameControllerMessageType could be found corresponding to the value %d", value));

        return type;
    }
}