package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.ocdsoft.bacta.soe.controller.MessageHandled;
import com.ocdsoft.bacta.soe.controller.GameNetworkMessageController;
import com.ocdsoft.bacta.soe.controller.ConnectionRolesAllowed;
import com.ocdsoft.bacta.soe.connection.ConnectionRole;
import com.ocdsoft.bacta.soe.connection.SoeUdpConnection;
import ${messageClasspath}.${messageName};

@MessageHandled(handles = $messageNameClass)
@ConnectionRolesAllowed({ConnectionRole.AUTHENTICATED})
public class $className implements GameNetworkMessageController<$messageName> {

    private static final Logger LOGGER = LoggerFactory.getLogger(${className}.class);

    @Override
    public void handleIncoming(SoeUdpConnection connection, $messageName message) {
        LOGGER.warn("This controller is not implemented");
    }
}

