package $packageName;

import io.bacta.game.Priority;
import io.bacta.shared.GameNetworkMessage;
import lombok.Getter;
import java.nio.ByteBuffer;

/**
  $messageStruct
  $messageSimpleName; // $opcode
  */
@Getter
@Priority($priority)
public final class $messageName extends GameNetworkMessage {

    public $messageName() {

    }

    public $messageName(final ByteBuffer buffer) {

    }

    @Override
    public void writeToBuffer(ByteBuffer buffer) {

    }
}
