package $packageName;

import java.nio.ByteBuffer;
import io.bacta.game.MessageId;
import io.bacta.game.ObjControllerMessage;

@MessageId(0x${controllerid})
public class $messageName extends ObjControllerMessage {

    public $messageName(final ByteBuffer buffer) {
        super(buffer);
    }

    @Override
    public void writeToBuffer(final ByteBuffer buffer) {
    
    }
    /**
     $messageStruct
     */
}
