package $packageName;

import java.nio.ByteBuffer;
import com.ocdsoft.bacta.swg.server.game.message.object.ObjControllerMessage;

@MessageId(0x${controllerid})
public class $messageName extends ObjControllerMessage {

    public $messageName(final ByteBuffer buffer) {
        super(buffer);
    }

    @Override
    public void writeToBuffer(final ByteBuffer buffer) {
    
    }
    /**
     $messageStruct
     */
}
