<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bacta : Register Account</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
</head>
<body>
<div class="card bg-dark mt-10">
    <div class="card-header text-center"><img th:src="@{/img/bacta-dark-sm.png}"></div>
    <div class="card-body text-light" th:if="${success}">
        <p class="card-text">You should receive an email at your registered email address with instructions on how to
            continue resetting your password.</p>
    </div>
    <div class="card-body text-light" th:unless="${success}">
        <p class="card-text">Enter your username and we will send a reset link to your registered email address.</p>
        <form method="post" th:action="@{/forgot-password}">
            <fieldset>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fas fa-user"></span>
                        </span>
                    </div>
                    <input name="username" type="text" class="form-control" placeholder="Username" autofocus>
                </div>

                <div class="divider">
                    <span class="divider-header">- OR -</span>

                    <p class="card-text">Can't remember your username? Enter the email address associated with your
                        account instead.</p>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fas fa-key"></span>
                        </span>
                        </div>
                        <input name="email" type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>

            </fieldset>
            <div class="row">
                <div class="col-7 text-left">Don't have an account? <a th:href="@{/register}">Register</a></div>
                <div class="col-5 text-right">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>