<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="naboo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/naboo/naboo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/naboo/naboo-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>360</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="io.bacta.game.scene" level="INFO" additivity="true">
        <appender-ref ref="naboo"/>
    </logger>



</configuration>